.sidebar {
  position: relative;
  margin: 5px 0 5px 5px;
  width: 25%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: coral;
  border: 4px solid black;
}

h3 {
  margin: 0;
  padding: 10px;
  font-size: 1.8rem;
  text-align: center;
}

ol {
  display: flex;
  flex-direction: column;
}
li {
  font-size: 1.4rem;
  font-weight: 400;
  /* list-style: none; */
  margin: 5px;
}
